
.hi{

text-align: center;
margin-top: 2em;
margin-bottom: 3em;
font-size: larger;
}

.search__button{
    width: 320px;
    height: 68px;
    font-size: 17px;
    padding-left: 15px;
    
}

.search{
    width: 320px;
    height: 68px;
    background-color: #D93F3F;
    color: white ;
    font-size: 17px;
}

.header__pokedex{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.hello{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.paragraph{
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
}
