.card {
    display: inline-block; /* Make cards appear side-by-side */
    width: 25em; /* Set width of each card */
    border: 0.5em solid #ccc;
    border-radius: 1em;
    font-size: 1em;
    margin: 1em; /* Add spacing between cards */
}
  
  /* Image container */
  .card__img {
    position: relative;
    width: 100%; /* Make image fill the container */
  }
  
  .img__poke {
    width: 100%; /* Image fills the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Resize image to fit container */
  }
  
  /* Card header */
  .card__header {
    background-color: blueviolet;
    aspect-ratio: 1.8; /* Maintain aspect ratio */
    padding: 1em; /* Add padding for content */
    border-radius: 0.4em;
  }
  
  /* Card content */
  .card__principal {

        padding: 1em;
        text-transform: capitalize;
    }
  
  .card__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 0.2em;
  }
  
  .card__types {
    display: flex;
    justify-content: center;
    gap: 0.7em;
  }
  
  .card__type:not(:nth-child(1)) {
    content: '/';
    padding-right: 0.7em;
  }
  
  .card__hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid #ccc5;
  }
  
  .card__stats {
    padding: 1em; /* Add padding for content */
  }
  
  .card__list {
    display: flex; /* Arrange stats horizontally */
    justify-content: space-between; /* Distribute stats evenly */
    flex-wrap: wrap; /* Allow stats to wrap to multiple lines if needed */
    gap: 1em; /* Adjust spacing between stats */
  }

    .card__stat{
        display: flex;
        gap: 0.3em;
        align-items: center;
    }
    .card__stat__label{
        font-size: 0.7em;
        text-transform: uppercase;
    }
    .card__stat__value{
        font-size: 1.4em;
        font-weight: 300;
    }
    .types__list {
        width: 320px;
        height: 68px;
        font-size: 17px;
        float: right;
        transform: translateY(-100%);
    }


.bg-grass{
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}
.bg-fire{
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}
.bg-water{
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.bg-fighting{
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}
.bg-flying{
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}
.bg-poison{
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}
.bg-ground{
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}
.bg-rock{
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}
.bg-bug{
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}
.bg-ghost{
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}
.bg-steel{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
.bg-electric{
    background: linear-gradient(179.75deg, #F0E000 -19.96%, #F0E000 43.67%, #F0E000 138.4%);
}
.bg-physic{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
.bg-ice{
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}
.bg-dragon{
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}
.bg-dark{
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}
.bg-fairy{
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}
.bg-unknown{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.color-elecetric{
    color: rgb(216, 210, 35);
}
.color-water{
    color: rgb(30, 12, 170);
}
.color-fire{
    color: rgb(217, 93, 16);
}
.color-grass{
    color: rgb(0, 128, 0);
}
.border-grass{
    color: rgb(0, 128, 0);
}
.border-fire{
    color: rgb(217, 93, 16);
}
.border-water{
    color: rgb(30, 12, 170);
}

